@media only screen and (max-height : 924px) {
  footer {
    position: static;
  }
  .white-popup {
    height: 683px;
    p {
      line-height: 19px;
      margin-bottom: 28px;
    }
  }
}

/* Small Devices, Tablets */
@media only screen and (max-width : 1280px) {
  .container {
    width: 768px;
  }

  header {
    height: 40px;
  }

  .white-popup {
    margin-top: 40px;
  }

  .logo {
    margin-top: 5px;
    height: 35px;
  }

  .search {
    margin-left: 80px;
    margin-top: 8px;
    input {
      width: 175px;
      height: 25px;
    }
    &::after {
      top: 8px;
      right: 8px;
    }
  }


  .main-menu nav {
    margin-top: 11px;
  }

  .open-popup-link {
    margin-right: (760px - (204px * 3)) / 2;
    &:nth-child(3n+0) {
      margin-right: 0;
    }
    &:nth-child(5n+0) {
      margin-right: (768px - (204px * 3)) / 2;
    }
    img {
      width: 204px;
      height: 204px;
    }
  }

  footer {
    position: static;
    height: 180px;
  }

  .footer-content {
    padding-top: 18px;
  }

  .socials-icons a {
    margin-right: 30px;
  }

  .links {
    margin-left: 50px;
  }

  .steps {
    margin-left: 65px;
  }

  .contacts {
    margin-left: 55px;
  }
}

.search-wrapper, .mob-wrapper {
  display: none;
}

/* Extra Small Devices, Phones */
@media only screen and (max-width : 768px) {
  .container {
    width: 320px;
  }


  .logo {
    margin-top: 9px;
    margin-left: 20px;
    height: 28px;
  }
  .logo-img img {
    height: 24px;
    width: 18px;
  }

  .logo .logo-text {
    margin-left: 15px;
    span {
      font-size: em(16);
      font-weight: 400;
    }
  }

  .search, .main-menu {
    display: none;
  }

  .mob-menu-open {
    display: inline-block;
    margin-right: 15px;
    margin-top: 10px;
  }

  .mob-search {
    display: inline-block;
    margin-right: 25px;
    margin-top: 8px;
  }

  .open-popup-link {
    display: block;
    margin: 40px auto 0;
    float: none;
    &:nth-child(5n+0) {
      margin: 0;
    }
  }

  .main-item-img {
    img {
      display: block;
      width: 240px;
      height: 240px;
      margin: 0 auto;
    }
  }
  footer {
    height: auto;
  }

  .socials, .links, .steps, .contacts {
    width: 100%;
    float: none;
    margin-left: 0px;
    margin-top: 40px;
  }

  .socials-icons {
    a {
      margin-right: (290px - (36px * 6)) / 5 !important;
      &:last-child {
        margin-right: 0 !important;
      }
    }
  }
  .footer-content {
    li {
      font-size: 18px;
      margin-left: 5px;
      & a {
        font-size: 18px;
      }
    }
    h5 {
      margin-left: 5px;
    }
  }

  .white-popup {
    height: auto;
    img {
      float: none;
      display: block;
      margin: 0 auto 20px;
    }
  }

  .search-wrapper, .mob-wrapper {
    display: none;
  }

}
